<div class="main-container">
  <div class="container">
    <!-- Banner Section -->
    <%= partial 'partials/banner' %>
    <!-- About Section -->
    <%= partial 'partials/about' %>
    <!-- Projects Section -->
    <%= partial 'partials/projects' %>
    <!-- Skills Section -->
    <%= partial 'partials/skills' %>
    <!-- Contact Section -->
    <%= partial 'partials/contact' %>
  </div>
</div>